*{
    margin: 0;
    padding: 0;
}

/* share style  */
    
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png) , url("../images/header_bg.png") , #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* vertical-align: middle; */
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.logo, h2{
    font-size: 45px;
    font-weight: 800;
}
nav{
    width: 71%;
    max-width: 1140;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;

}
.menu li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.orange-color{
    color: #FD6E0A;
}
/* banner section */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 154px 38px 0 230px;

   
}
.banner-image img{
    max-width: 584px;
   vertical-align: middle;
  border-radius: 20px;
}
.banner-container{
    max-width: 585px;

}
.banner-container h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-container h1{
    font-size: 85px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-container p{
    line-height: 30px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* section 2 */
#about{
  padding-top: 130px;
    
}



.about-container{
   margin: 0 auto;
   text-align: center;
   background-color: #FFF8F3;
   width: 71%;
   max-width: 1140px;
   padding: 131px 156px;
}

.about-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
}
.about-heading p{
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}
.about-info{
    display: flex;
    justify-content: space-around;
    padding: 0 23px;
    
}
.about-info p{
    color: #757575;
    line-height: 30px;
}
.about-info h4{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
