*{
    margin: 0;
    padding: 0;
}

/* share style  */
    
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.logo, h2{
    font-size: 45px;
    font-weight: 800;
}
nav{
    width: 71%;
    max-width: 1140;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;

}
.menu li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.orange-color{
    color: #FD6E0A;
}