*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 800;
    
}
.main-button{
    border: none;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;

}
.orange-color{
    color: #FD6E0A;
}

/* logo style  */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px , bottom right ;
    
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid burlywood; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.menu{
    text-align: center;
}
/* header section */
#banner{
    /* border: 1px solid red; */
    margin: 45px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    color: black;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
#banner .banner-content p{
    color: #757575;
    font-size: 18;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
/* section 2 */
#about{
    padding-top: 130px;
}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}
/* share style  */

.section-heading{
    max-width: 827px;
    text-align: center;
   
}
.section-heading h2{
    font-size: 35px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}
.section-heading p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    
}
.about-info{
    display: flex;
    justify-content: space-around;
    max-width: 782px;
    padding: 0 23px;
}
.info p{
    color: #757575;
}
.info h4{
    color: #474747;
}
/* section skil */
#skill{
  padding-top: 130px;
}
.skil-heading{
    text-align: center;
}
#skill .skil-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    

}
.skil-heading h2{
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  color: black;
}
.skil-heading p{
    margin-bottom: 50px;
    line-height: 30px;
    font-size: 18px;
    color: #757575;
}
.skil-box{
    display: flex;
    gap: 24px;
}
.box-card{
    padding: 30px;
    max-width: 247px;
   border-radius: 5px;
   box-shadow: 0px 6px 50px 0px #00000011;
}
.box-card img{
    margin-bottom: 30px;
    max-width: 44px;
}
.box-card h3{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.box-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
/* section resume */
#resume{
    margin: 0 auto;
    max-width: 1140px;
    width: 71%;
}
.resume-container hr{
    margin: 30px 0;
}
 #resume .section-heading{
    padding-top: 130px ;
}
#resume .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
#resume .card-container{
    display: flex;
    gap: 71px;
    margin: 131px auto 0;
}
#resume .card-heading{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}


#resume .card{
    max-width: 511px;
    width: 71%;
    margin-right: 47px;

}
#resume .card h5{
    color: #474747;
    font-size: 15px;
    
}
#resume .card h6{
    color: 757575;
    margin-top: 12px;

}
#resume .card p{
    list-style: 28px;
    color: #757575;
    margin-top: 24px;
}
#resume .text-containt{
    text-align: center;
    margin-top: 50px;
}

